div {
  background-color: blue;
  width:50px;
  height:50px;
  border-radius:50%;
  position:relative;
  top:200px;
  left:200px;
  animation-name:popsy;
  animation-duration:3s;
  animation-iteration-count:infinite;   
}
@keyframes popsy {
  0% {top:50px;
    background-color:blue
  }
  50%{left:50px;
    background-color:orange}
  100%{
    background-color:red}
}
div.sex {
   background-color: blue;
  width:100px;
  height:100px;
  border-radius:50%;
  position:relative;
  top:250px;
  left:250px;
  animation-name:popsy;
  animation-duration:3s;
  animation-iteration-count:infinite;   
}
@keyframes sex {
  0% {top:50px;
    background-color:purple
  }
  50%{right:60px;
    background-color:orange}
  100%{
    background-color:orange}
}